.second_section_parent_div {
  background-color: #2d7871;
  color: white;
  font-size: 2.28rem;
  margin-top: 100px;
  padding: 30px;
}
.second_section_parent_div p {
  width: 75%;
  margin: auto;
  font-weight: 300;
  line-height: 70px;
  font-style: italic;
}
