.footer_main_div {
  background-color: #242424;
  padding: 50px;
}
.footer_parent_div {
  color: white;
  text-align: left;
  width: 65%;
  margin: auto;
}

.footer_grid_div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
}
.footer_grid_div h4 {
  margin-bottom: 10px;
}
.footer_grid_div p {
  margin-bottom: 10px;
}
.footer_grid_div a {
  color: white;
}

.footer_last_cart {
  position: relative;
  padding-left: 20px; /* space from border */
}

.footer_last_cart::before {
  content: "";
  position: absolute;
  left: 0;
  top: -10px; /* distance from the top */
  height: 150px; /* height of the border */
  width: 1px;
  background-color: white;
}

.footer_logo {
  width: 20%;
}
.footer_subscribe {
  border: 2px solid white;
  background-color: #242424;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}
.footer_subscribe:hover {
  text-decoration: underline;

  border-radius: 5px;
}
.footer_blank_div {
  background-color: gray;
  height: 2px;
  width: 65%;
  margin: auto;
  margin-top: 20px;
}
.footer_icon_div {
  margin-top: 20px;
}
.footer_last_logo {
  width: 10%;
}
.footer_flex_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  margin: auto;
  margin-top: 20px;
}
.footer_icon_div {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 25px;
}
.faYoutube {
  color: red;
}
.faXTwitter {
  color: white;
}
.faBluesky {
  color: blue;
}
.faFacebook {
  color: blue;
}
.faLinkedin {
  color: blue;
}

@media screen and (max-width: 1124px) {
  .footer_parent_div {
    width: 85%;
  }
  .footer_blank_div {
    width: 85%;
  }
  .footer_flex_div {
    width: 85%;
  }
}
@media screen and (max-width: 800px) {
  .footer_parent_div {
    width: 100%;
  }
  .footer_blank_div {
    width: 100%;
  }
  .footer_flex_div {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .footer_last_logo {
    width: 20%;
  }
}
@media screen and (max-width: 650px) {
  .footer_main_div {
    padding: 15px;
  }
  .footer_grid_div {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  .footer_last_cart {
    margin-left: -20px;
  }
  .footer_last_cart::before {
    width: 0px;
  }
}
@media screen and (max-width: 500px) {
  .footer_flex_div {
    flex-direction: column;
    align-items: start;
  }
}
