.first_section_parent_div {
}
.first_section_text {
  font-size: 22px;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  line-height: 33px;
}
.first_section_grid_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 55%;
  margin: auto;
  margin-top: 50px;
  align-items: center;
}
.first_section_grid_div img {
  width: 100%;
}
.first_section_text_div {
  text-align: left;
}
.first_section_text_div :first-child {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
.first_section_text_div h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 15px;
}
.first_section_text_div :last-child {
  color: rgb(100, 100, 100);
  line-height: 26px;
}

@media screen and (max-width: 1536px) {
  .first_section_text {
    width: 65%;
  }
  .first_section_grid_div {
    width: 65%;
  }
}
@media screen and (max-width: 1150px) {
  .first_section_text {
    width: 75%;
  }
  .first_section_grid_div {
    width: 75%;
  }
}
@media screen and (max-width: 1024px) {
  .first_section_text {
    width: 95%;
  }
  .first_section_grid_div {
    width: 95%;
  }
}
@media screen and (max-width: 750px) {
  .first_section_text {
    width: 95%;
  }
  .first_section_grid_div {
    grid-template-columns: repeat(1, 1fr);
  }
}
