.first_section_parent_div {
}
.first_section_text {
  font-size: 22px;
  width: 70%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  line-height: 33px;
}
.first_section_grid_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  width: 55%;
  margin: auto;
  margin-top: 100px;
}
.first_section_grid_div img {
  width: 100%;
}
.first_section_text_div {
  text-align: left;
}
.first_section_text_div :first-child {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
.first_section_text_div h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 15px;
}
.first_section_text_div :last-child {
  color: rgb(100, 100, 100);
  line-height: 26px;
}
